@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Tektur', cursive;
    font-size: 1.75rem;
}

#calculator {
    background-color: rgb(35, 35, 35);
    width: 80vmin;
    height: 80vmin;
    margin: 2rem auto;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#display {
    background-color: rgb(97, 176, 141);
    width: 76vmin;
    margin: 1rem;
    padding: 1rem;
    font-size: 3rem;
    align-self: center;
}

button {
    text-align: center;
    width: 15vmin;
}

.number {
    background-color: grey;
}

.big {
    width: 30vmin;
}

.operator {
    background-color: rgb(113, 113, 242);
}

.clean {
    background-color: rgb(227, 134, 28);
}

.dot {  /* To get the dot in a similar style to the icons */
    font-size: large;
    font-weight: 600;
}